/*Game tutorial form css (index.html)*/

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  color: black;
}

/*LANDSCAPE PROPERTIES*/
@media screen and (orientation: landscape) {
  body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 100%;
    margin: 0%;
  }

  input,
  button {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 150%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0%;
  }

  a:hover {
    text-decoration: none;
  }

  :focus {
    outline: none;
  }
  /*Background*/
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
  }
  /*Inner frame*/
  .inner {
    max-width: 50%;
    margin: auto;
    background: #39459b;
    border: 10px solid #0d99d7;
    padding: 1% 1% 6%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  /*Game Name*/
  h3 {
    text-transform: uppercase;
    font-size: 250%;
    font-family: "Montserrat-Bold";
    text-align: center;
    padding-bottom: 1%;
    color: deepskyblue;
  }

  /*notice player see video text*/
  h4 {
    text-transform: uppercase;
    font-size: 190%;
    font-family: "Montserrat-Bold";
    text-align: center;
    padding-bottom: 1%;
    color: black;
    margin-top: 3%;
  }

  /*play button design*/
  button {
    animation: blinker 2s linear infinite;
    border: none;
    width: 30%;
    height: 51px;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: yellowgreen;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  button:hover {
    animation: none;
    border-color: transparent;
  }

  button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  button:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  a:link {
    color: #f1d6ac;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #f1d6ac;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,
  #nav a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  /*video size*/
  #content1 {
    clear: both;
    display: block;
    height: 100%;
    width: 100%;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  /*play button blink opacity*/
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

/*Portrait*/

@media screen and (orientation: portrait) {
  body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 50%;
    margin: 0%;
  }

  input,
  button {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 200%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0%;
  }

  a:hover {
    text-decoration: none;
  }

  :focus {
    outline: none;
  }

  /*Background*/
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
  }

  /*Inner frame*/
  .inner {
    max-width: 100%;
    background: #39459b;
    border: 10px solid #0d99d7;
    padding: 1% 1% 12%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  /*Game Name*/
  h3 {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Montserrat-Bold";
    text-align: center;
    padding-bottom: 2%;
    color: deepskyblue;
  }

  /*play button design*/
  button {
    animation: blinker 2s linear infinite;
    border: none;
    width: 30%;
    height: 51px;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: yellowgreen;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  button:hover {
    animation: none;
    border-color: transparent;
  }

  button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  button:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  a:link {
    color: #f1d6ac;
    font-weight: bold;
    text-decoration: none;
  }

  a:visited {
    color: #f1d6ac;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,
  #nav a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }

  /*video size*/
  #content1 {
    clear: both;
    display: block;
    margin-top: 5%;
    height: 70%;
    width: 100%;
  }

  /*play button blink opacity*/
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  /*notice player see video text*/
  h4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Montserrat-Bold";
    text-align: center;
    padding-bottom: 1%;
    color: black;
    margin-top: 3%;
  }
}
