html {
    height: 100vh; /* viewport height = 100%, adjustment not recommended */
    width: 100vw; /* viewport width = 100%, adjustment not recommended */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

body {
    box-sizing: border-box; /* border does not adds extra width or height */
    border: 10px solid transparent;
    border-image: url(111.png) 90 round;
    height: 100vh; /* minimum viewport 100%, can be adjusted */
    width: 100vmin;
    position: relative;
    background-color: #FCE5B0;
}

#catchimg{
    display: none;
}

#trapimg {
    display: none;
}

#titleimgcontainer {
    width: 5%;
    height: 5%;
    border: 1px black solid;
    background-color: white;
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleimgcontainer > img{
    width: 90%;
    height: auto;
}

@font-face {
    font-family: font1;
    src: url(ft1.ttf);
}

* {
    font-family: font1;
}

.title1 {
    font-size: 200%;
    text-decoration: underline;
    height:10%;
}

#selection {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 60%;
}

label {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: 100%; */
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 350%;
}

.div-btn {
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    margin: auto;
}

.btn {
    width: 100%;
    height: 25%;
    color: white;
    font-size: 200%;
    background-color: #FF9E67;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #FFFDE3;
    color: black;
}

img {
    width: 30%;
    height: 30%;
}

.color-div {
    margin: auto;
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (min-width: 3820px) {
    label {
        font-size: 600%;
    }

    .title1 {
        font-size: 700%;
    }

    .btn {
        font-size: 600%;
    }
}
@media screen and (min-height: 3820px) {
    label {
        font-size: 600%;
    }

    .title1 {
        font-size: 700%;
    }

    .btn {
        font-size: 600%;
    }
}

@media screen and (orientation: portrait) {
    img {
        width: 30%;
        height: 10%;
    }
}