@font-face {
	font-family: "Machine Gunk";
	src: url("Assets/Font/Machine Gunk.otf") format("opentype");
}

body {
	height: 100vh; /* viewport height = 100%, adjustment not recommended */
	width: 100vw; /* viewport width = 100%, adjustment not recommended */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}


#splashscreen {
	height: 100%;
	width: 100%;
	z-index: 20;
	position: absolute;
	background-color: black
}

	#splashscreen > video {
		position: absolute;
		object-fit: contain;
		width: 100%;
		height: 100%;
	}

#tutorial {
	position: absolute;
	background-color: black;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

p {
	z-index: 5;
	display: none;
	font-family: 'Machine Gunk';
	margin-bottom: 50%;
	color: saddlebrown;
	font-size: 8vw;
	text-align: center;
	-webkit-text-stroke: 0.5vw #56362C;
}
/*

main {
	background-color: #FCE5B0;
	box-sizing: border-box;
	border: 20px solid transparent;
	height: 100vh;
	width: 100vmin;
	position: relative;
}

.title {
	width: 100%;
	height: 20%;
	font-size: 400%;
	font-family: font1;
	letter-spacing: 3px;
	word-spacing: 10px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	margin: auto;
}
.title > img {
	display: block;
	margin: auto;
	width: 30%;
	height: auto;
}

p {
	font-size: 350%;
	font-family: font2;
	word-spacing: 5px;
}

img {
	width: 50%; 
	height: auto;
	object-fit: scale-down;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: scroll;
}

.rules {
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: block;
}

.scroll-down {
	width: 10%;
	height: 10%;
	border: 5px black solid;
	background-color: white;
	color: white;
	position: absolute;
	bottom: 5%;
	right: 5%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-down > img {
	width: 100%;
	height: 100%;
}
  
@font-face {
  font-family: font1;
  src: url(ft1.ttf);
}


@font-face {
  font-family: font2;
  src: url(ft2.ttf);
}

.ls {
	height: 20%;
	font-family: font2;
	word-spacing: 5px;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 5%;
}

#btn
{	
	width: 100%;
	height: 100%;
	font-family: font1;
	font-size: 300%;
	background-color: #FF9E67;
	color: white;
	border-radius: 10px;
}

#btn:hover
{
	background-color:#FFFDE3 ;
	color:black;
	cursor:pointer;

}

audio
{
	display: none;
}

@media screen and (min-width: 3820px)  {
	p {
		font-size: 800%;
	}

	.title {
		font-size: 1000%;
	}

	#btn {
		font-size: 800%;
	}
}
@media screen and (min-height: 3820px) {
	p {
		font-size: 800%;
	}

	.title {
		font-size: 1000%;
	}

	#btn {
		font-size: 800%;
	}
}

@media screen and (orientation: portrait) {
	.scroll-down > img{
		width: 100%;
		height: 80%;
	}
	img {
		width: 50%;
		height: 30%;
	}
}
*/
/*
#lg
{
	font-size:50px;
	font-family:font1;
	letter-spacing:3px;
	word-spacing:10px;
	text-align:center;
}

.hint
{
	margin-left:88%;		
	font-size:25px;
	font-family:font1;
	word-spacing:5px;
	margin-bottom:50%;
}

#catLogo
{
	width:70px;
	height:70px;
	margin-left:3%;
	margin-bottom:-11px;
}
*/