
@font-face {
  font-family: font1;
  src: url(ft1.ttf);
}
.title
{
font-size:150px;
font-family:font1;
letter-spacing:3px;
word-spacing:10px;
text-align:center;
margin-top:3%;
margin-left:4%;
}

#lg
{
font-size:50px;
font-family:font1;
letter-spacing:3px;
word-spacing:10px;
text-align:center;
}

.rules
{
margin-left:13%;
}

@font-face {
  font-family: font2;
  src: url(ft2.ttf);
}

p
{
font-size:430%;
font-family:font2;
word-spacing:5px;
}

.ls{
margin-left:7%;
font-size:50px;
font-family:font2;
word-spacing:5px;
}

#btn
{
margin-top:0%;
margin-left:35%;
margin-bottom:3%;
width:250px;
height:110px;
font-family:font1;
font-size:80px;
background-color:#FF9E67;
color:white;
border-radius:10px;
}

#btn:hover
{
background-color:#FFFDE3 ;
color:black;
cursor:pointer;

}

audio
{
display:none;
}

.hint
{
	margin-left:88%;		
	font-size:25px;
	font-family:font1;
	word-spacing:5px;
	margin-bottom:50%;
}



#new{
	margin-left:15%;
}


#dogLogo
{
	width:70px;
	height:70px;
	margin-bottom:-11px;
}

#catLogo
{
	width:70px;
	height:70px;
	margin-left:3%;
	margin-bottom:-11px;
}