html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    box-sizing: border-box; /*border does not adds extra width or height*/
    border: 10px solid transparent;
    border-image: url(111.png) 90 round;
    height: 100vmin;
    width: 100vmin;
    position: relative;
}

p {
    font-family: 'Comic Sans MS';
    font-size: 100%;
    text-align: center;
}

#gui-container {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 46% 29%;
    grid-template-rows: 20% 80%;
    grid-gap: 10px;
}

.container-item1 {
    background-color: darkorange;
    box-sizing: border-box;
    border: 5px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.container-item2 {
    background-color: darkred;
    box-sizing: border-box;
    border: 5px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.container-item3 {
    background-color: greenyellow;
    box-sizing: border-box;
    border: 5px solid cyan;
    display: flex;
    width: calc(100% - 20px);
    height: auto;
}

.container-item4 {
    background-color: mediumpurple;
    box-sizing: border-box;
    border: 5px solid cyan;
    grid-column: span 3;
    display: flex;
    width: calc(100% - 20px);
    height: calc(100% - 10px);
}

#vcanvas {
    width: 100%;
    height: auto;
}

#canvas {
    width: 100%;
    height: auto
}

video {
    display: none;
}

.splashT {
    background-color: white;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*alternate centering method
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    */
}

#loading {
    width: 30%;
    height: 30%;
}

#dogcenter {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#catcenter {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Contents below yet to be modified*/

.button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #ff9e67 5%, #ff9e67 100%);
    background-color: #ff9e67;
    border-radius: 6px;
    border: 1px solid #ff9e67;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    width: 40%;
    height: 20%;
}

    .button:hover {
        background: linear-gradient(to bottom, #fffde3 5%, #fffde3 100%);
        background-color: #fffde3;
        color: black;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
    font-size: 300%;
}

.modal-content {
    background-color: #fefefe;
    margin: 40% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #808080;
    border-width: 4px 5px 4px 6px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(0.85deg);
    width: 100%; /* Could be more or less, depending on screen size */
    height: 50%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
