body{ height: auto;
    margin: auto;
	/* Keyword values */
text-size-adjust: none;
text-size-adjust: auto;

/* <percentage> value */
text-size-adjust: 80%;

/* Global values */
text-size-adjust: inherit;
text-size-adjust: initial;
text-size-adjust: unset;}
	
	

@font-face {
  font-family: halo;
  src: url("./font/halo.TTF");
}
@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
@keyframes blinkingGreen {
  0% {
    color: rgb(144, 238, 144, 1);
  }
  49% {
    color: rgb(144, 238, 144, 0.5);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(144, 238, 144, 1);
  }
}
/* The slow way */
.make-it-slow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1;
}

.box-shadow {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}
.box-shadow:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}
/*****************************************/
body {
  background-image:url("123.jpg");
  
  background-repeat:no-repeat;
  height:100%;
  background-size:cover;
  
  margin: 0;
  padding: 0;


}

.title {
  font-family: halo;
  text-align: center;
  font-size: 40pt;
  color: white;
}

.title1 {
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}

.titlebg {
  background-color: rgba(255, 0, 0, 0.5);
}

.content-box {
  width: 95%;
  background-color: #fff3cd;
  margin: 2% auto;
  border: 5px solid black;
  border-radius: 10px;
}

.sel-col-outer-box {
  width: 50%;
  background-color: #fff3cd;
  margin: 2% auto;
  border: 5px solid black;
  border-radius: 10px;
}

.outerbox {
  margin: 40px auto;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.innerbox {
  margin: 0 auto;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

.no-mg {
  margin: 0;
}

.mg-auto {
  margin: 0 auto;
}
.mg-0 {
  margin-bottom: 0px;
}

.admin {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 20px;
  width: 200px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.admin:hover {
  background-color: rgb(184, 184, 184);
}
audio {
  display: none;
}

.divcen {
  text-align: center;
}
.playbtn {
  text-align: center;
  margin: 50px auto;
  padding: 5px 20px 5px 20px;
  width: 30%;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.playbtn:hover {
  font-size: 60px;
  width: 40%;
  height: 55%;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
}

.rainbow-bg {
  animation: rainbow-bg 5s linear;
  animation-iteration-count: infinite;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
  height: auto;
}

.login-box {
  margin: 100px auto;
  width: 40%;

  background-color: #fff3cd;
  border: 5px solid black;
  border-radius: 10px;
}

div.login-form {
  display: block;
  text-align: center;
}

.login {
  display: inline-block;
  margin: 5% auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

.login-btn {
  font-size: 16pt;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  margin-bottom: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  border: 2px solid rgb(21, 255, 0);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.login-btn:checked {
  display: none;
}

input {
  height: 16pt;
  padding-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  margin: 5px auto;
  width: 70%;
  cursor: pointer;
  transition: outline 0.5s;
}

[type="radio"]:checked + img {
  outline: 5px solid lightgreen;
}



div.objs {
  display: flex;
}

.sel-col-p {
  position: absolute;
  margin-left: 10px;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.ins-ver {
  width: 40%;
}

@media screen and (max-width: 700px) {
  div.objs {
    display: table;
  }
}

.cen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.mg-top-add {
  margin-top: 50px;
}

@media (max-aspect-ratio: 9/16) {
  .playbtn {
    text-align: center;
    margin: 50px auto;
    padding: 5px 20px 5px 20px;
    width: auto;
    padding: 5px 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    border: 10px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
  }

  .playbtn:hover {
    font-size: 150px;
    width: auto;
  }

  .admin {
    padding: 5px auto;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
  }
  .admin:hover {
    background-color: rgb(184, 184, 184);
  }

  .title {
    font-family: halo;
    text-align: center;
    font-size: 60pt;
    color: white;
  }

  .desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
  }

  .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding: 0 30px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: 50px;
    height: auto;
  }

  .sel-col-outer-box {
    width: 80%;
    background-color: #fff3cd;
    margin: 2% auto;
    border: 5px solid black;
    border-radius: 10px;
  }

  .sel-col-p {
    position: absolute;
    margin-left: 30px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
  }




  .mg-top-add {
    margin-top: 80px;
  }

  .bigger {
    font-size: 44px;
  }

  .innerbox {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22pt;
  }

  .ins-ver {
    width: 60%;
  }

  .login-box {
    margin: 100px auto;
    width: 70%;

    background-color: #fff3cd;
    border: 5px solid black;
    border-radius: 10px;
  }

  .login {
    display: inline-block;
    margin: 5% auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
  }
  input#username {
    height: 40pt;
    font-size: 24pt;
  }

  input#password {
    height: 40pt;
    font-size: 24pt;
  }

  .login-btn {
    font-size: 44pt;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    margin-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 40px;
    transition: all 0.3s ease-in-out;
  }

  .login-btn:hover {
    border: 2px solid rgb(21, 255, 0);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

.color-box{
    padding-top: 30px;
    padding-bottom: 20px;
}
 .color-div{
      position: relative;
      margin: 4px auto;
      width: 50%;
      height: 60%;
      cursor: pointer;
      padding:10px;
    }

    [type="radio"]:checked + .color-div{
      outline: 5px solid lightgreen;
    }
